body{
	background-image: url("../img/bg1.jpg");
	background-repeat: no-repeat;
}

body h1, a{
	text-align: center;
}

.navbar{
	overflow: hidden;
	background-color: black;
	padding: 20px 10px;
}

.navbar a{
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.navbar a:hover{
	background-color: #ddd;
	color: black;
}

.navbar a.active{
	background-color: dodgerblue;
	color: white;
}


.navbar-right{
	float: right;
}

*{
	box-sizing: border-box;
}

.column{
	background-color: white;
	float: left;
	width: 50%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.centered{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content{
	padding: 0px 20px 0px 20px;
}

.content2{
	background-color: white;
	padding: 10px 20px 0px 20px;
}

#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}

.form{
	border: 3px solid #f1f1f1;
	text-align: center;
	opacity: 0 18px;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
}

.form a{
	color: red;
}

input[type=text],
input[type=password]{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button{
	background-color: #4CAF50;
	color: white;
	font-size: 18px;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 55%;
}

button:hover{
	opacity: 0.8;
}

.btn{
	background-color: #4CAF50;
	color: white;
	font-size: 18px;
	padding: 14px 5px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}

.container{
	padding: 20px;
	padding-left: 50px;
}

.user-img{
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img{
	width: 100px;
	height: 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #848484;
}

textarea{
	max-width: 100%;
}

.footer{
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}